

body {
font-family: Arial;
background:rgb(248, 217, 222);
padding: 20px;
}

@font-face {
font-family: myFirstFont;
src: url('CaliforniaPersonalUseRegular-L37ED.ttf');
}
.logo {
    width: 100px; /* Adjust size */
    height: auto;
    
}


.cart{
    width: 80px; /* Adjust size */
    height: auto;
    margin-left: 80rem ;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
  font-family: 'myFirstFont', cursive;
  color: #a01c2b;
  font-size: 75px;
  margin-top: -20px;
}

.item-card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
  margin: 40px;
  text-align: center;
  background: white;
  display: inline-block;
}
.item-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.qty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}
.qty-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffdae0;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.qty-count {
  font-size: 18px;
  min-width: 20px;
  display: inline-block;
  text-align: center;
}
.add-btn {
  padding: 6px 14px;
  border-radius: 20px;
  background:  #a01c2b;
  color: white;
  border: none;
  cursor: pointer;
}
@media (max-width: 600px){
  .cart{
    width: 70px; /* Adjust size */
    height: auto;
    margin-left: 25rem ;
    top: -5rem;
    position: relative;
}

}