* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  min-height: 100vh;
  background: rgb(248, 217, 222);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: #a01c2b;
  margin-bottom: 20px;
  font-size: 40px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: #a01c2b;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #a01c2b;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #831a27;
}

.links {
  margin-top: 15px;
  font-size: 14px;
}

.links a {
  color: #a01c2b;
  text-decoration: none;
  font-weight: bold;
}

.message {
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 34px;
  }
}
